In [1]:
import sys
#!{sys.executable} -m pip install  kagglehub


# project Dependencies

import pandas as pd
import kagglehub

# Download latest version of kagglehub
path = kagglehub.dataset_download("jacksoncrow/stock-market-dataset")
print("Path to dataset files:", path)

offset = 0
limit = 3000
period = 'max' # valid periods: 1y

#import matplotlib.pyplot as plt
#import scipy.stats as st
#import time
#from scipy.stats import linregress
#from sklearn import datasets
#import hvplot.pandas
#import numpy as np
#import random
#import requests
#from pprint import pprint
#from pathlib import Path
#import json

# Import the API key
#from config import Nasdaq_api_key

Path to dataset files: C:\Users\lord1\.cache\kagglehub\datasets\jacksoncrow\stock-market-dataset\versions\2

In [2]:
data = pd.read_csv("http://www.nasdaqtrader.com/dynamic/SymDir/nasdaqtraded.txt", sep='|')
data_clean = data[data['Test Issue'] == 'N']
symbols = data_clean['NASDAQ Symbol'].tolist()
print('total number of symbols traded = {}'.format(len(symbols)))

total number of symbols traded = 11101

In [3]:
pd.read_csv(r"\Users\lord1\.cache\kagglehub\datasets\jacksoncrow\stock-market-dataset\versions\2\stocks/TMUS.csv")

,Date,Open,High,Low,Close,Adj Close,Volume
0,2007-04-19,50.200001,55.220001,49.000000,54.799999,44.560043,15862400
1,2007-04-20,54.799999,57.599998,54.200001,57.099998,46.430264,3054700
2,2007-04-23,57.200001,57.880001,56.580002,57.500000,46.755520,1876400
3,2007-04-24,57.020000,58.799999,57.020000,58.400002,47.487347,1532900
4,2007-04-25,59.099998,59.500000,57.020000,57.220001,46.527843,1225300
...,...,...,...,...,...,...,...
3257,2020-03-26,80.000000,84.989998,79.730003,84.629997,84.629997,4821300
3258,2020-03-27,82.540001,83.900002,81.019997,81.720001,81.720001,4309600
3259,2020-03-30,82.290001,83.860001,81.239998,83.120003,83.120003,5625200
3260,2020-03-31,83.040001,84.750000,81.980003,83.900002,83.900002,6920600
3261,2020-04-01,82.989998,86.709999,82.699997,85.129997,85.129997,11018000

In [4]:
pd.read_csv(r"\Users\lord1\.cache\kagglehub\datasets\jacksoncrow\stock-market-dataset\versions\2\stocks/VZ.csv")

,Date,Open,High,Low,Close,Adj Close,Volume
0,1983-11-21,7.939334,7.953386,7.377257,7.897178,0.301449,5020600
1,1983-11-22,7.897178,8.009593,7.855022,7.869074,0.300376,2666700
2,1983-11-23,7.869074,7.897178,7.784762,7.826919,0.298767,1151900
3,1983-11-25,7.826919,7.840971,7.742607,7.742607,0.295549,1771800
4,1983-11-28,7.700451,7.700451,7.503724,7.531828,0.287503,2367800
...,...,...,...,...,...,...,...
9161,2020-03-26,49.590000,53.900002,49.509998,53.540001,53.540001,32610900
9162,2020-03-27,52.150002,53.840000,51.540001,52.770000,52.770000,25363600
9163,2020-03-30,53.490002,55.029999,52.939999,54.770000,54.770000,20660200
9164,2020-03-31,54.070000,54.540001,53.549999,53.730000,53.730000,21251800
9165,2020-04-01,52.500000,53.450001,52.160000,52.919998,52.919998,18669000

In [5]:
pd.read_csv(r"\Users\lord1\.cache\kagglehub\datasets\jacksoncrow\stock-market-dataset\versions\2\stocks/T.csv")

,Date,Open,High,Low,Close,Adj Close,Volume
0,1983-11-21,5.083333,5.177083,5.083333,5.135417,0.216226,3910800
1,1983-11-22,5.135417,5.135417,5.093750,5.093750,0.214472,2934000
2,1983-11-23,5.093750,5.104167,5.052083,5.072917,0.213595,1618800
3,1983-11-25,5.072917,5.104167,5.072917,5.083333,0.214033,3380400
4,1983-11-28,5.083333,5.093750,5.031250,5.031250,0.211840,4315200
...,...,...,...,...,...,...,...
9161,2020-03-26,28.680000,30.959999,28.680000,30.600000,30.600000,64038000
9162,2020-03-27,29.690001,30.820000,29.219999,29.840000,29.840000,46386000
9163,2020-03-30,29.900000,30.410000,29.480000,30.230000,30.230000,41629900
9164,2020-03-31,30.040001,30.129999,29.049999,29.150000,29.150000,69813400
9165,2020-04-01,28.379999,28.580000,27.700001,28.049999,28.049999,54628900